<% include ./partials/header %>
   
	<header id="categories-header" class="my-5">
		<div class="container">
				<h1 class="display-4 text-center mb-5">Choose a category</h1>
				<div class="row">
					<a href="/explore/clothings/all" class="col-6 col-lg-3 mb-3">
						<div class="d-flex justify-content-center mb-4">
							<img src="webpage/img/icons/clothings.png" alt="Clothing" class="img-fluid">
						</div>
						<h4 class="text-center">Clothings</h4>
					</a>
					<a href="/explore/accessories/all" class="col-6 col-lg-3 mb-3">
						<div class="d-flex justify-content-center mb-4">
							<img src="webpage/img/icons/accessories.png" alt="Accessories" class="img-fluid">
						</div>
						<h4 class="text-center">Accessories</h4>
					</a>
					<a href="/explore/shoes/all" class="col-6 col-lg-3 mb-3">
						<div class="d-flex justify-content-center mb-4">
							<img src="webpage/img/icons/shoes.png" alt="Shoes" class="img-fluid">
						</div>
						<h4 class="text-center">Shoes</h4>
					</a>
					<a href="/explore/bags/all" class="col-6 col-lg-3 mb-3">
						<div class="d-flex justify-content-center mb-4">
							<img src="webpage/img/icons/bags.png" alt="Bags" class="img-fluid">
						</div>
						<h4 class="text-center">Bags</h4>
					</a>
					<a href="/explore/sports/all" class="col-6 col-lg-3 mb-3">
						<div class="d-flex justify-content-center mb-4">
							<img src="webpage/img/icons/sports.png" alt="Sports" class="img-fluid">
						</div>
						<h4 class="text-center">Sports</h4>
					</a>
					<a href="/explore/watches/all" class="col-6 col-lg-3 mb-3">
						<div class="d-flex justify-content-center mb-4">
							<img src="webpage/img/icons/watches.png" alt="Watches" class="img-fluid">
						</div>
						<h4 class="text-center">Watches</h4>
					</a>
					<a href="/explore/groomings/all" class="col-6 col-lg-3 mb-3">
						<div class="d-flex justify-content-center mb-4">
							<img src="webpage/img/icons/groomings.png" alt="Groomings" class="img-fluid">
						</div>
						<h4 class="text-center">Groomings</h4>
					</a>
					<a href="/explore/electronics/all" class="col-6 col-lg-3 mb-3">
						<div class="d-flex justify-content-center mb-4">
							<img src="webpage/img/icons/electronics.png" alt="Electronics" class="img-fluid">
						</div>
						<h4 class="text-center">Electronics</h4>
					</a>
				</div>
		</div>
	</header>

<% include ./partials/footer %>