<% include ./partials/header %>

<header id="home-header">
	<div class="primary-overlay text-white d-flex align-items-center">
		<div class="container p-5">
			<h1 class="display-3 text-center">Rasa barangan lokal</h1>
			<p class="lead text-center">Banding harga barangan tempatan dengan lebih mudah menggunakan jombeli!</p>
			<form href="/explore/all/find" method="GET" class="form-row d-flex justify-content-center">
				<div class="col-md-5">
					<input class="form-control" name="find" type="email" placeholder="Cari barang yang dikehendaki">
				</div>
				<div class="col-md-2">
					<button class="form-control btn btn-outline-light">Mulakan</a>
				</div>
			</form>
		</div>
	</div>
</header>

<section id="home-partnership" class="py-5">
	<div class="container">
		<h1 class="text-center">Collaborators</h1>
		<div class="row flex-items align-items-center">
			<div class="col-md-2"><img src="img/collaborators/adidas.png" alt="" class="img-fluid"></div>
			<div class="col-md-2"><img src="img/collaborators/al-ikhsan.png" alt="" class="img-fluid"></div>
			<div class="col-md-2"><img src="img/collaborators/jd-sports.svg" alt="" class="img-fluid"></div>
			<div class="col-md-2"><img src="img/collaborators/nike.png" alt="" class="img-fluid"></div>
			<div class="col-md-2"><img src="img/collaborators/sole-what.jpg" alt="" class="img-fluid"></div>
			<div class="col-md-2"><img src="img/collaborators/sports-direct.png" alt="" class="img-fluid"></div>
		</div>
	</div>
</section>

   <!-- NEWSLETTER SECTION -->
<section id="home-newsletter" class="text-center p-5 bg-dark text-white">
	<div class="container">
		<div class="row">
			<div class="col">
				<h1>Signup For Our Newsletter</h1>
				<p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit inventore totam eaque modi et. Consequatur similique ducimus non quo animi sunt veniam. Dolorum neque at voluptates iusto unde expedita illum, autem adipisci voluptate veritatis natus.</p>
				<form action="index.html" class="form-inline justify-content-center">
					<label class="sr-only" for="name">Name</label>
					<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Enter Name">
					<label class="sr-only" for="email">Email</label>
					<input type="email" class="form-control mb-2 mr-sm-2 mb-sm-0" placeholder="Enter Email"></input>
					<button class="btn btn-primary" type="submit">Submit</button>
				</form>
			</div>
		</div>
	</div>
</section>

<% include ./partials/footer %>