<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/webpage/css/font-awesome.min.css">
	<link rel="stylesheet" href="/webpage/css/bootstrap.css">
	<link rel="stylesheet" href="/webpage/css/style.css">
	<link rel="stylesheet" href="/webpage/css/bootstrap-slider.min.css">
	<link href="/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet">
	<title>JOMbeli</title>
</head>

<body>
	<nav id="navbar" class="navbar navbar-expand navbar-light bg-light px-4">
		<a href="/home" class="navbar-brand">JOMbeli</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarNav">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active pl-5">
					<a href="/home" class="nav-link">Utama</a>
				</li>
				<li class="nav-item active pl-5">
					<a href="/category" class="nav-link">Kategori</a>
				</li>
				<li class="nav-item active pl-5">
					<a href="#" class="nav-link">Info Kami</a>
				</li>
				<li class="nav-item active pl-5">
					<a href="#" class="nav-link">Hubung</a>
				</li>
			</ul>
		</div>
	</nav>