<% include partials/header %>

<div class="content-wrapper">
<div class="container-fluid">
  <!-- Breadcrumbs-->
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="/dashboard">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Products</li>
  </ol>
  <div class="row">
    <div class="col-12">
      <h1>Products page</h1>
   	<form action="#">
   		<div class="form-row mb-3">
      		<div class="col-md-5">
      			<input class="form-control" type="text" placeholder="Search an item">
      		</div>
      		<div class="col-md-2">
      			<a href="#" class="form-control btn btn-light">Go</a>
      		</div>
   	   </div>
   	</form>
   	<hr>
		<% products.forEach(function(product){ %>
		<!-- ITEMS LISTS (TABLE) -->
		<div id="show-items-list-table" class="d-flex align-items-center row mb-3 p-3 border no-gutters">
			<div class="col-6">
				<div class="media align-items-center">
					<img class="mr-3" src="/webpage/img/mockups/img64x64.svg" alt="Generic placeholder image">
					<div class="media-body">
						<h5><%= product.title %></h5>
						<small>
							<%= product.description.substring(0,50) %>
						</small>
					</div>
				</div>
			</div>
			<div class="col-6 row d-flex align-items-center">
				<div class="col-5 d-flex px-2"><small class="ml-1">STAR RATING</small><small class="ml-auto">XX stores</small></div>
				<div class="col-3"><small>from RM<%= product.price%></small></div>
				<div class="col-4"><a href="/dashboard/products/<%= product._id %>" class="btn btn-primary btn-md">Show More</a></div>
			</div>
		</div>
		<% }); %>
    </div>
  </div>
</div>

<% include partials/footer %>